# Ignoring third-party source
Bank/third-party-source/

# svn folder
.svn/

# Ignoring resourse folder which store the word-template
Bank/resourse/

# logs/schedule_task/api_calls
Bank/logs/schedule_task/api_calls/*.txt

# Ignoring temp folder which stores the uploaded files, export templates
Bank/temp/export/*.*
Bank/temp/upload/*.*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk