<div id="page-wrapper" ng-controller="updateBankAccountController">
    <div class="container-fluid">
        <div class="row">
                <div class="col-lg-12">
                        <h1 class="page-header">Bank Account Entry</h1>
                </div>
                <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <message ng-model="processMsg" auto-close></message>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                How to use:<br>
                - For Create record, click on the "Create Form" tab, create record and then click the "Create" button<br>
                - For Amend record, Select a record on list, update or delete record<br>
                - Enable the currency on Bank Account, select a record on amendment
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        
        <hr>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#list" ng-click="HideEntryForm()" aria-controls="list" role="tab" data-toggle="tab"><i class="fas fa-list fa-fw fa-lg"></i> List</a></li>
            <li role="presentation"><a href="#create" ng-click="SwitchToCreate()" aria-controls="create" role="tab" data-toggle="tab"><i class="far fa-file-alt fa-fw fa-lg"></i> Create Form</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="list">
                <pageview
                        ng-model="bankAccountModel"
                        program-id="bw33bankAccount">
                    <screen></screen>
                </pageview>
            </div>
            <div role="tabpanel" class="tab-pane" id="create">
            </div>
        </div>
        <entry ng-model="entryCreateForm" program-id="be33bankAccount" edit-mode="create" ng-show="showEntryForm">
            <form class="form-horizontal" ng-submit="SubmitData()">
                <fieldset>
                    <legend>{{entryFormTitle}}</legend>
                    <div class="form-group">
                        <label for="inputBankAccountIDC" class="col-sm-2 control-label">Bank Account ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputBankAccountIDC" ng-model="entryCtrl.ngModel.BankAccountID" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBankCode" class="col-sm-2 control-label">Bank Code</label>                                    
                        <div class="col-sm-10">
                            <editbox ng-model="providerEditBoxC" program-id="bw21bank" id="bankCode">
                            <div class="input-group">
                                <input type="text" class="form-control" id="inputBankCode" ng-model="entryCtrl.ngModel.BankCode" readonly>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" aria-label="Edit List" ng-click="OpenPageView()">
                                    <span class="fas fa-th-list" aria-hidden="true"></span>
                                </button>
                                </span>
                                <input type="text" class="form-control" ng-model="providerEditBoxC.BankEnglishName" readonly>
                            </div>
                            </editbox>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBranchCodeC" class="col-sm-2 control-label">Branch Code</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputBranchCodeC" ng-model="entryCtrl.ngModel.BranchCode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAccountCodeC" class="col-sm-2 control-label">Account Code</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputAccountCodeC" ng-model="entryCtrl.ngModel.AccountCode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFullAccountCodeC" class="col-sm-2 control-label">Full Account Code</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputFullAccountCodeC" ng-model="entryCtrl.ngModel.FullAccountCode" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFullAccountCodeWithDashC" class="col-sm-2 control-label">Full Account Code (Display With Dash)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputFullAccountCodeWithDashC" ng-model="entryCtrl.ngModel.FullAccountCodeWithDash">
                        </div>
                    </div>

                    <div class="form-group" ng-hide="entryFormMode != 'amend'">
                        <div class="col-sm-offset-2 col-sm-5">
                            <button type="button" class="btn btn-success" aria-label="Save" ng-click="UpdateData(); UpdateCurrencyData();">
                                <span class="fas fa-save" aria-hidden="true"></span> Save
                            </button>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-danger" aria-label="Delete" ng-click="DeleteData()">
                                <span class="fas fa-trash-alt" aria-hidden="true"></span> Delete
                            </button>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="entryFormMode != 'create'">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-primary" aria-label="Create" ng-click="CreateData()">
                                <span class="far fa-plus-square" aria-hidden="true"></span> Create
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </entry>

        <process ng-model="processModel" program-id="bp33bankAccount" ng-hide="entryFormMode != 'amend'">
            <div class="form-group" style="display:none;">
                <label for="BankAccountID">Bank Account ID</label>
                <input type="text" ng-model="processCtrl.ngModel.Record.BankAccountID" class="form-control" id="BankAccountID" readonly>
            </div>
            <!-- <div class="form-group">
                <label for="Status">Enable</label>
                <input type="checkbox" ng-model="processCtrl.ngModel.Record.Status" class="form-control" id="Status" ng-true-value="'Enabled'" ng-false-value="'Disabled'">
            </div> -->
            <!-- <button type="button" class="btn btn-default" ng-click="InquiryData()">Inquiry Account Currency</button> -->
            <form>
                <fieldset>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover">
                            <thead>
                            <tr>
                                <th>Alphabetic Code</th>
                                <th>Name</th>
                                <th>Chinese Name</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="currencyRow in processCtrl.ngModel.ProcessRecord"
                                    ng-click="PointedToRecord(currencyRow, $event, this);"
                                    ng-dblclick="SelectedToRecord(currencyRow, $event, this)">
                                    <td>{{currencyRow.AlphabeticCode}}</td>
                                    <td>{{currencyRow.Name}}</td>
                                    <td>{{currencyRow.ChineseName}}</td>
                                    <td>
                                        <!-- <input type="checkbox" ng-model="currencyRow.Status" class="form-control" id="Status" ng-true-value="'Enabled'" ng-false-value="'Disabled'"> -->
                                        <label class="switch">
                                            <input type="checkbox" ng-model="currencyRow.Status" ng-true-value="'Enabled'" ng-false-value="'Disabled'">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="SubmitData()">
                        <span class="fas fa-save" aria-hidden="true"></span> Update Account Currency Only</button>
                </fieldset>
            </form>
        </process>

    </div>
    <!-- /.container-fluid -->
</div>