<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Passive Investment Management System</a>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" href="https://github.com/keithbox/AngularJS-CRUD-PHP" target="_blank" lang="en">
            <i class="fab fa-github fa-lg"></i> View on GitHub
        </a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" href="https://github.com/keithbox" target="_blank" lang="en">
            <i class="far fa-user fa-lg"></i> Author
        </a>
    </li>
    <!-- <li>
        <button class="btn btn-link" ng-click="switchLanguage('en')">English
        </button>
    </li>
    <li>
        <button class="btn btn-link" ng-click="switchLanguage('zh-hant')">繁</button>
    </li>
    <li>
        <button class="btn btn-link" ng-click="switchLanguage('zh-hans')">簡</button>
    </li> -->
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a ui-sref="Home" lang="en"><i class="fas fa-home fa-fw fa-lg"></i> Home</a>
            </li>
            <li>
                <a ui-sref=".view-calendar" lang="en"><i class="far fa-calendar-alt fa-fw fa-lg"></i> Calendar</a>
            </li>
            <li>
                <a ui-sref=".sal-entry" lang="en"><i class="fas fa-hand-holding-usd fa-fw fa-lg"></i> Saving, Assets, Liabilities</a>
            </li>
            <li>
                <a ui-sref=".time-deposit-entry" lang="en"><i class="fas fa-certificate fa-fw fa-lg"></i> Time Deposit Entry</a>
            </li>
            <li>
                <a ui-sref=".foreign-currency-entry" lang="en"><i class="fas fa-globe fa-fw fa-lg"></i> Foreign Currency Transaction Entry</a>
            </li>
            <li>
                <a ui-sref=".exchange-rate-entry" lang="en"><i class="fas fa-exchange-alt fa-fw fa-lg"></i> Exchange Rate Entry</a>
            </li>
            <li>
                <a ui-sref=".bank-account-entry" lang="en"><i class="far fa-credit-card fa-fw fa-lg"></i> Bank Account Entry</a>
            </li>
            <li>
                <a ui-sref=".bank-maintenance" lang="en"><i class="fas fa-university fa-fw fa-lg"></i> Bank Maintenance</a>
            </li>
            <li>
                <a ui-sref=".currency-maintenance" lang="en"><i class="fas fa-pound-sign fa-fw fa-lg"></i> Currency Maintenance</a>
            </li>
            <li>
                <a ui-sref=".holiday-maintenance" lang="en"><i class="far fa-calendar-times fa-fw fa-lg"></i> Holiday Maintenance</a>
            </li>
            <!-- /.nav-second-level -->
            <li>
                <a href="#" lang="en"><i class="far fa-clock fa-fw fa-lg"></i> Scheduler<span class="fa fas fa-ellipsis-h" style="float: right;"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref=".schedule-task" lang="en"><i class="far fa-object-group fa-fw fa-lg"></i> Schedule Task</a>
                    </li>
                    <li>
                        <a ui-sref=".schedule-log" lang="en"><i class="fas fa-tasks fa-fw fa-lg"></i> Schedule Log</a>
                    </li>
                    <li>
                        <a ui-sref=".schedulable-program" lang="en"><i class="far fa-file-alt fa-fw fa-lg"></i> Schedulable Program</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" lang="en"><i class="fas fa-wrench fa-fw fa-lg"></i> Utility<span class="fa fas fa-ellipsis-h" style="float: right;"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref=".import-export-time-deposit" lang="en"><i class="fas fa-file-import fa-fw fa-lg"></i> Time Deposit Import/Export</a>
                    </li>
                    <li>
                        <a ui-sref=".import-export-foreign-currency" lang="en"><i class="fas fa-file-import fa-fw fa-lg"></i> Foreign Currency Transcation Import/Export</a>
                    </li>
                    <li>
                        <a ui-sref=".import-export-master" lang="en"><i class="fas fa-file-import fa-fw fa-lg"></i> Master Import/Export</a>
                    </li>
                    <li>
                        <a ui-sref=".import-iso4217" lang="en"><i class="fas fa-file-import fa-fw fa-lg"></i> Import ISO 4217</a>
                    </li>
                    <li>
                        <a ui-sref=".export-database" lang="en"><i class="fas fa-archive fa-fw fa-lg"></i> Archive Database</a>
                    </li>
                </ul>
            </li>
            <li>
                <a ui-sref=".update-log" lang="en"><i class="far fa-sticky-note fa-fw fa-lg"></i> Update Log</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->