<div id="page-wrapper" ng-controller="reportArrangedDepositController">
    <div class="container-fluid">
        <div class="row">
                <div class="col-lg-12">
                        <h1 class="page-header">Report - Arranged Deposit</h1>
                </div>
                <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <message ng-model="processMsg" auto-close></message>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                How to use:<br>
                - For inquire the arranged deposits in a period<br>
                - Provide the report criteria<br>
                - Select a report output format
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        
        <hr>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#search" aria-controls="search" role="tab" data-toggle="tab"><i class="fas fa-search fa-fw fa-lg"></i> Search</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="list">
                <pageview ng-model="inquiryCurrencyModel" program-id="bw22currency" style="display: none;">
                </pageview>
                <inquiry ng-model="inquiryModel" program-id="br02arrangeddeposit" id="inquiryPanel">
                    <form class="form-horizontal" ng-submit="SubmitData()">
                        <fieldset>
                            <legend>Arranged Deposit Inquiry</legend>
                            <div class="form-group">
                                <label for="inquiryEffectiveFrom" class="col-sm-2 control-label">Quick Dates</label>
                                <div class="col-sm-10">
                                    <button type="button" class="btn btn-link" ng-click="SetDateRangeLast7Days()">Last 7 days</button>
                                    <button type="button" class="btn btn-link" ng-click="SetDateRangeLast30Days()">Last 30 days</button>
                                    <button type="button" class="btn btn-link" ng-click="SetDateRangeThisMonth()">This month</button>
                                    <button type="button" class="btn btn-link" ng-click="SetDateRangeLastMonth()">Last month</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inquiryEffectiveFrom" class="col-sm-2 control-label">Date Range</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <input type="date" class="form-control" ng-model="inquiryCtrl.ngModel.InquiryCriteria.EffectiveFrom" id="inquiryEffectiveFrom">
                                        <label class="input-group-addon" for="inquiryEffectiveTo">to</label>
                                        <input type="date" class="form-control" ng-model="inquiryCtrl.ngModel.InquiryCriteria.EffectiveTo" id="inquiryEffectiveTo">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label for="inquiryEffectiveFrom" class="col-sm-2 control-label">From</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" ng-model="inquiryCtrl.ngModel.InquiryCriteria.EffectiveFrom" id="inquiryEffectiveFrom">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inquiryEffectiveTo" class="col-sm-2 control-label">To</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" ng-model="inquiryCtrl.ngModel.InquiryCriteria.EffectiveTo" id="inquiryEffectiveTo">
                                </div>
                            </div> -->
                            <div class="form-group">
                                <label for="inquiryEffectiveCurrency" class="col-sm-2 control-label">Currency Code</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <select class="form-control" name="inquiryEffectiveCurrency" id="inquiryEffectiveCurrency" ng-model="inquiryCtrl.ngModel.InquiryCriteria.EffectiveCurrency" required>
                                                <option ng-repeat="currencyRow in inquiryCurrencyModel" value="{{currencyRow.AlphabeticCode}}">
                                                {{currencyRow.AlphabeticCode}}</option>
                                            </select>
                                        <label class="input-group-addon"><span class="form-control currency-flag currency-flag-{{inquiryCtrl.ngModel.InquiryCriteria.EffectiveCurrency | lowercase}}"></span></label>
                                        <span class="input-group-btn" ng-show="inquiryCtrl.ngModel.InquiryCriteria.EffectiveCurrency!=''">
                                            <button type="button" class="btn btn-default" aria-label="Earse Currency" ng-click="inquiryCtrl.ngModel.InquiryCriteria.EffectiveCurrency=''">
                                                <span class="fas fa-times" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Output Format</label>
                                <div class="col-sm-10">
                                        <label ng-repeat="outputOption in reportCtrl.ExportFileTypeAs.availableOptions" class="radio-inline">
                                        <input type="radio" ng-model="inquiryCtrl.ngModel.InquiryCriteria.ExportFileTypeAs" ng-value="outputOption.value">
                                        {{outputOption.name}}
                                        </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" class="btn btn-default" ng-click="SubmitData()">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <hr>
                    <div>
                    <!-- <screen></screen> -->
                    </div>
                </inquiry>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>