<div id="page-wrapper" ng-controller="updateSALController">
    <div class="container-fluid">
        <div class="row">
                <div class="col-lg-12">
                        <h1 class="page-header">Saving, Assets, Liabilities, Entry</h1>
                </div>
                <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <message ng-model="processMsg" auto-close></message>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                How to use:<br>
                - For Create record, click on the "Create Form" tab, create record and then click the "Create" button<br>
                - For Amend record, Select a record on list, update or delete record
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        
        <hr>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#assets" ng-click="SwitchToAssetsList()" aria-controls="assets" role="tab" data-toggle="tab"><i class="fas fa-list fa-fw fa-lg"></i> Assets / Liabilities</a></li>
                <li role="presentation"><a href="#assets" ng-click="SwitchToCreateAssetsEntry()" aria-controls="assets" role="tab" data-toggle="tab"><i class="fas fa-list fa-fw fa-lg"></i> Create Assets / Liabilities</a></li>
            <li role="presentation"><a href="#saving" ng-click="SwitchToSavingList()" aria-controls="saving" role="tab" data-toggle="tab"><i class="fas fa-list fa-fw fa-lg"></i> Saving</a></li>
            <!-- <li role="presentation"><a href="#list" ng-click="SwitchToBankAccountList()" aria-controls="list" role="tab" data-toggle="tab"><i class="fas fa-list fa-fw fa-lg"></i> List</a></li>
            <li role="presentation"><a href="#create" ng-click="SwitchToCreateBankAccountEntry()" aria-controls="create" role="tab" data-toggle="tab"><i class="far fa-file-alt fa-fw fa-lg"></i> Create Form</a></li> -->
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="assets">
                <inquiry ng-model="assetsInquiryModel" program-id="bi36AssetsLiabilities" ng-hide="assetsEntryFormMode != 'amend'">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <p class="form-control-static">Record Type</p>
                            </div>
                            <div class="col-sm-8">
                                <div class="radio-inline">
                                    <label for="inquiryTypeALL">
                                    <input type="radio" ng-model="inquiryCtrl.ngModel.InquiryCriteria.InquiryType" ng-value="'ALL'" id="inquiryTypeALL">
                                    All</label>
                                </div>
                                <div class="radio-inline">
                                    <label for="inquiryTypeEffective">
                                            <input type="radio" ng-model="inquiryCtrl.ngModel.InquiryCriteria.InquiryType" ng-value="'Effective'" id="inquiryTypeEffective">
                                    Effective</label>
                                </div>
                                <div class="radio-inline">
                                    <label for="inquiryTypeHistory">
                                            <input type="radio" ng-model="inquiryCtrl.ngModel.InquiryCriteria.InquiryType" ng-value="'History'" id="inquiryTypeHistory">
                                    History</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-primary" aria-label="Create" ng-click="SubmitData()">
                                    <span class="fas fa-sync" aria-hidden="true"></span> Refresh
                                </button>
                            </div>
                        </div>
                    </form>
                    <screen></screen>
                </inquiry>
                <entry ng-model="assetsEntryCreateForm" program-id="be36AssetsLiabilities" edit-mode="create" ng-show="showAssetsEntryForm">
                    <form class="form-horizontal" ng-submit="SubmitData()">
                        <fieldset>
                            <legend>{{assetsEntryFormTitle}}</legend>
                            <div class="form-group">
                                <label for="inputAssetsALTransactionID" class="col-sm-2 control-label">Transaction ID</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputAssetsALTransactionID" ng-model="entryCtrl.ngModel.ALTransactionID" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAssetsEffectiveDate" class="col-sm-2 control-label">Effective Date</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="inputAssetsEffectiveDate" ng-model="entryCtrl.ngModel.EffectiveDate">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAssetsType" class="col-sm-2 control-label">Type</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label for="inputAssetsTypeAssets">
                                        <input type="radio" ng-model="entryCtrl.ngModel.Type" ng-value="'Assets'" class="" id="inputAssetsTypeAssets">
                                        Assets</label>
                                    </div>
                                    <div class="radio">
                                        <label for="inputAssetsTypeLiabilities">
                                        <input type="radio" ng-model="entryCtrl.ngModel.Type" ng-value="'Liabilities'" class="" id="inputAssetsTypeLiabilities">
                                        Liabilities</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAssetsItem" class="col-sm-2 control-label">Item Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputAssetsItem" ng-model="entryCtrl.ngModel.Item">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAssetsDescription" class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="inputAssetsDescription" ng-model="entryCtrl.ngModel.Description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFullAccountCodeWithDashC" class="col-sm-2 control-label">Amount</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" min="0" step="0.01" id="inputFullAccountCodeWithDashC" ng-model="entryCtrl.ngModel.Amount">
                                </div>
                            </div>
        
                            <div class="form-group" ng-hide="assetsEntryFormMode != 'amend'">
                                <div class="col-sm-offset-2 col-sm-5">
                                    <button type="button" class="btn btn-success" aria-label="Save" ng-click="UpdateData();">
                                        <span class="fas fa-save" aria-hidden="true"></span> Save
                                    </button>
                                </div>
                                <div class="col-sm-5">
                                    <button type="button" class="btn btn-danger" aria-label="Delete" ng-click="DeleteData()">
                                        <span class="fas fa-trash-alt" aria-hidden="true"></span> Delete
                                    </button>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="assetsEntryFormMode != 'create'">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" class="btn btn-primary" aria-label="Create" ng-click="CreateData()">
                                        <span class="far fa-plus-square" aria-hidden="true"></span> Create
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </entry>
            </div>
            <div role="tabpanel" class="tab-pane" id="saving">
                <process ng-model="procesSavingModel" program-id="bp35salSavingEntry">
                    <button type="button" class="btn btn-default" ng-click="InquiryData()">Refresh Account Balance</button>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Bank Code</th>
                                <th>Account Code</th>
                                <th>Currency</th>
                                <th>Available Balance</th>
                                <!-- <th>Update</th> -->
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="currencyRow in processCtrl.ngModel.ProcessRecord"
                                    ng-click="PointedToRecord(currencyRow, $event, this);"
                                    ng-dblclick="SelectedToRecord(currencyRow, $event, this)">
                                    <td>{{currencyRow.BankAccountCurrencyID}}</td>
                                    <td>{{currencyRow.BankCode}}</td>
                                    <td>{{currencyRow.FullAccountCodeWithDash}}</td>
                                    <td>{{currencyRow.AlphabeticCode}}</td>
                                    <td>
                                        <input type="number" ng-model="currencyRow.AvailableBalance" class="form-control" min="0" step="0.01">
                                    </td>
                                    <!-- <td>
                                        <input type="checkbox" ng-model="currencyRow.UpdateStatus" class="form-control" id="UpdateStatus" ng-true-value="'Enabled'" ng-false-value="'Disabled'">
                                    </td> -->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="SubmitData()">
                        <span class="fas fa-save" aria-hidden="true"></span> Update Currency Available Balance</button>
                </process>
            </div>
            <!-- <div role="tabpanel" class="tab-pane" id="list">
                <pageview ng-show="showEntryForm"
                        ng-model="bankAccountModel"
                        program-id="bw33bankAccount">
                    <screen></screen>
                </pageview>
            </div>
            <div role="tabpanel" class="tab-pane" id="create">
            </div> -->
        </div>
        <entry ng-model="entryCreateForm" program-id="be33bankAccount" edit-mode="create" ng-show="showEntryForm">
            <form class="form-horizontal" ng-submit="SubmitData()">
                <fieldset>
                    <legend>{{entryFormTitle}}</legend>
                    <div class="form-group">
                        <label for="inputBankAccountIDC" class="col-sm-2 control-label">Bank Account ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputBankAccountIDC" ng-model="entryCtrl.ngModel.BankAccountID" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBankCode" class="col-sm-2 control-label">Bank Code</label>                                    
                        <div class="col-sm-10">
                            <editbox ng-model="providerEditBoxC" program-id="bw21bank" id="bankCode">
                            <div class="input-group">
                                <input type="text" class="form-control" id="inputBankCode" ng-model="entryCtrl.ngModel.BankCode" readonly>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" aria-label="Edit List" ng-click="OpenPageView()">
                                    <span class="fas fa-th-list" aria-hidden="true"></span>
                                </button>
                                </span>
                                <input type="text" class="form-control" ng-model="providerEditBoxC.BankEnglishName" readonly>
                            </div>
                            </editbox>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBranchCodeC" class="col-sm-2 control-label">Branch Code</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputBranchCodeC" ng-model="entryCtrl.ngModel.BranchCode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAccountCodeC" class="col-sm-2 control-label">Account Code</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputAccountCodeC" ng-model="entryCtrl.ngModel.AccountCode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFullAccountCodeC" class="col-sm-2 control-label">Full Account Code</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputFullAccountCodeC" ng-model="entryCtrl.ngModel.FullAccountCode" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFullAccountCodeWithDashC" class="col-sm-2 control-label">Full Account Code (Display With Dash)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputFullAccountCodeWithDashC" ng-model="entryCtrl.ngModel.FullAccountCodeWithDash">
                        </div>
                    </div>

                    <div class="form-group" ng-hide="entryFormMode != 'amend'">
                        <div class="col-sm-offset-2 col-sm-5">
                            <button type="button" class="btn btn-success" aria-label="Save" ng-click="UpdateData(); UpdateCurrencyData();">
                                <span class="fas fa-save" aria-hidden="true"></span> Save
                            </button>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-danger" aria-label="Delete" ng-click="DeleteData()">
                                <span class="fas fa-trash-alt" aria-hidden="true"></span> Delete
                            </button>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="entryFormMode != 'create'">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-primary" aria-label="Create" ng-click="CreateData()">
                                <span class="far fa-plus-square" aria-hidden="true"></span> Create
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </entry>

        <process ng-model="processModel" program-id="bp33bankAccount" ng-show="showEntryForm && entryFormMode == 'amend'">
            <div class="form-group" style="display:none;">
                <label for="BankAccountID">Bank Account ID</label>
                <input type="text" ng-model="processCtrl.ngModel.Record.BankAccountID" class="form-control" id="BankAccountID" readonly>
            </div>
            <!-- <div class="form-group">
                <label for="Status">Enable</label>
                <input type="checkbox" ng-model="processCtrl.ngModel.Record.Status" class="form-control" id="Status" ng-true-value="'Enabled'" ng-false-value="'Disabled'">
            </div> -->
            <!-- <button type="button" class="btn btn-default" ng-click="InquiryData()">Inquiry Account Currency</button> -->
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Alphabetic Code</th>
                        <th>Name</th>
                        <th>Chinese Name</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="currencyRow in processCtrl.ngModel.ProcessRecord track by $index"
                            ng-click="PointedToRecord(currencyRow, $event, this); currencyRow.Status == 'Enabled' ? currencyRow.Status = 'Disabled' : currencyRow.Status = 'Enabled'"
                            ng-dblclick="SelectedToRecord(currencyRow, $event, this)">
                            <td>{{currencyRow.AlphabeticCode}}</td>
                            <td>{{currencyRow.Name}}</td>
                            <td>{{currencyRow.ChineseName}}</td>
                            <td>
                                <input type="checkbox" ng-model="currencyRow.Status" class="form-control" id="Status" ng-true-value="'Enabled'" ng-false-value="'Disabled'">
                            </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-success" ng-click="SubmitData()">
                <span class="fas fa-save" aria-hidden="true"></span> Update Account Currency Only</button>
        </process>

    </div>
    <!-- /.container-fluid -->
</div>